{
  "root": true,
  "plugins": ["react"],
  "env": {
    "es6": true
  },
  "parserOptions": {
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "rules": {
    "react/jsx-one-expression-per-line": "error"
  }
}
